{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/bulma.min.css' %}">
    <script src="{% static "polls/jquery-3.4.1.min.js" %}"></script>
    <script defer src="{% static 'polls/fontawesome.js' %}"></script>
    <script defer src="{% static "polls/js/nav.js" %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
{% include "polls/navi.html" %}
{% block body %}{% endblock %}
{% include "polls/footer.html" %}
</body>
</html>