{% load static %}
<footer class="footer">
    <div class="container">
        <div class="level">
            <div class="level-item">
                <a href="https://bulma.io/">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>
            </div>
            <div class="level-item">
                <a href="https://www.djangoproject.com/">
                    <img src="https://static.djangoproject.com/img/logos/django-logo-positive.svg" width="112" height="28">
                </a>
            </div>
        </div>
        {# TODO シェアボタンの配置 #}
    </div>
</footer>