{% load i18n %}
{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url "index" %}">
            <img src="{% static "polls/images/logo_square.png" %}" alt="Image">
        </a>
        <a id="navbar-menu-button" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url "index" %}"> {% trans "Home" %} </a>
            <a class="navbar-item" href="{% url "rank" %}"> {% trans "Analyze" %} </a>
            <a class="navbar-item"> {% trans "Map" %} </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"> {% trans "More" %} </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url "about" %}"> {% trans "About" %} </a>
                    <a class="navbar-item" href="{% url "license" %}"> {% trans "License" %} </a>
                    <a class="navbar-item" href="{% url "contact" %}"> {% trans "Contact" %} </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="https://github.com/key3946/albion_trade/issues"> {% trans "Report an issue" %} </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <form class="navbar-item" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <div class="select is-primary">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                    selected{% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="buttons">
                    <input class="button is-primary" type="submit" value="Go">
                </div>
            </form>
{#            <div class="navbar-item">#}
{#                <div class="buttons">#}
{#                    <a class="button is-primary">#}
{#                        <strong>Sign up</strong>#}
{#                    </a>#}
{#                    <a class="button is-light"> Log in </a>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
</nav>